<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AutoAPI" connectionString="Server=.; Database=DATABASENAME; Trusted_Connection=Yes" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
